body {
    background: url(../images/wood.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: white;
    position: relative;
    text-align: center;
}

h2 {
    color: white;
}
#thead-header{
    text-align: right;
    left: 10%;
}

div {
    /* position: absolute; */
    /* width: 700px; */
    /* display: inline-block; */
}

#train-table {
    float: right;
    /* display: table; */
    border-collapse: collapse;
    /* overflow-x: auto; */
    width: 70%;
    /* margin: 0 auto; */
}

form {
    color: white;
    float: left;
    align-content: center;
    margin: auto;
}